

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header > p {
  color: red;
font-size: 33px;
text-align: center;

}

div{

}

.indvBox{
  border: 3px solid deepskyblue;
    margin: 5px;
    max-height: 160px;
}

.indvBox:hover{
  border: 3px solid red;
  cursor: pointer;
}
.App {
  background-color: aliceblue;
  height:100vh;
}

.bookDetailsStyle{
  font-size: 16px;
    font-style: italic;
}
